<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="../spotify.js"></script>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    <div id="login">
        <h1>Bio page</h1>
        <button onclick="connect_spotify()">Connect Spotify</button>
    </div>
    <div id="artists">
        <div id="artist0"></div>
        <div id="artist1"></div>
        <div id="artist2"></div>
        <div id="artist3"></div>
        <div id="artist4"></div>
    </div>
   
</body>
</html>